/*
===================================================================
                         Defult CSS
===================================================================
*/
body{
	margin: 0;
	font-family: 'Cairo', sans-serif;

	/* font-family: 'Poppins', sans-serif; */
}
h1,h2,h3,h4,h5,h6,p{
	margin: 0;
}
a{
	text-decoration: none;
}
ul{
	padding: 0;
	margin: 0;
	list-style: none;
}









/*
===================================================================
                    Start Register Login CSS
===================================================================
*/
.ar_registerLogin_area_section{
	height: 100vh;
}

.ar_registerLogin_area_section{
	background: url('../images/login/bac.png') no-repeat scroll 0 0 / 100% 100%;
	
	position: relative;
	overflow: hidden;
	z-index: 999999;
}
.ar_registerLogin_area_sectionSpan{
	padding: 298px 0px;
}
/* .ar_registerLogin_area_section::after {
	content: "";
	position: absolute;
	background: url('../images/login/isolatonBuilding.png');
	background-repeat: no-repeat;
	width: 100%;
	height: 60%;
	bottom: -22%;
	left: 0;
	right: 0;
	text-align: center;
	background-size: 103% 65%;
	z-index: -1;
} */
.ar_registerLogin_area_section::before {
	content: "";
	position: absolute;
	background: url('../images/login/Isolation_Mode.png');
	background-repeat: no-repeat;
	width: 10%;
	height: 50%;
	top: 0;
	left: 90%;
	right: 0;
	text-align: center;
}
.ar_registerLogin_area_sectionSpan{
	position: relative;
}
.ar_registerLogin_area_sectionSpan::after {
	content: "";
	position: absolute;
	background: url('../images/login/bgaft.png');
	background-repeat: no-repeat;
	width: 15%;
	height: 25%;
	top: 0;
	left: 0;
	right: 86%;
	text-align: center;
}
.ar_registerLogin_area_sectionSpan::before {
	content: "";
	position: absolute;
	background: url('../images/login/buildingRound.png');
	background-repeat: no-repeat;
	width: 33%;
	height: 55%;
	top: 70%;
	left: 0px;
	text-align: center;
	bottom: 22px;
	background-size: 100%;
}
.ar_login_area_content{
	text-align: center;
}
.ar_login_area{
	display: flex;
	align-items: center;
	justify-content: center;
}
.ar_login_form_group button{
	background-color: #fff;
	border: none;
	outline: none;
	padding: 8px 15px;
	max-width: 300px;
	width: 100%;
	display: block;
	margin: auto;
	margin-bottom: 20px;
	border-radius: 5px;
	
	color: #347AE2;
	font-weight: 700;
	font-size: 20px;
}
.ar_login_form {
	margin-top: -100px;
}
.ar_login_logo a img{
	width: 400px;
}
.ar_login_logo{
	margin-top: -100px;
}


/* sign in */
.ar_signin_form_area{
	max-width: 400px;
	width: 100%;
	background-color: #fff;
	border-radius: 10px;
	padding: 30px;
	margin: auto;
	margin-top: -50px;
}
.ar_singin_area_section{
	padding: 110px;
}
.ar_signLogo{
	text-align: center;
}
.ar_signLogo a img{
	width: 300px;
}
.ar_signin_form_area h2{
	color: #347AE2;
	font-weight: 700;
	font-size: 32px;
	text-align: center;
}
.ar_signIn_form{
	margin-top: 30px;
}
.ar_signIn_form_group label {
	color: #000000;
	font-weight: 700;
	font-size: 12px;
	display: block;
	transform: translate(-15px, 5px);
}
.ar_signIn_form_group span{
	color: #F80101;
	font-size: 12px;
	font-weight: 400;
	display: block;
}
.ar_signIn_form_group input {
	width: 100%;
	border: 1px solid #EAEAEA;
	outline: none;
	padding: 10px 15px;
	border-radius: 10px;
	text-align: right;
	padding-right: 35px;
}
.ar_signIn_form_group input::placeholder{
	color: #949494;
	font-size: 14px;
	font-weight: 400;
	text-align: left;
}
.ar_signIn_form_group input[type="text"] {
	background: url('../images/login/Smartphone.png');
	background-repeat: no-repeat;
	display: flex;
	justify-content: flex-end;
	background-position: 98% 38%;
	text-align: left;
}
.ar_signIn_form_group input[type="submit"]{
	width: 100%;
	border:none;
	outline: none;
	padding: 15px 15px;
	background-color: #347AE2;
	color: #FFFFFF;
	font-size: 14px;
	font-weight: 700;
	border: transparent;
	text-align: center;
}
.ar_signIn_form_group{
	margin-bottom: 20px;
}
.ar_signIn_form_group.span{
	margin-bottom: 30px;
}
.ar_signIn_form_group span{
	margin-top: 10px;
}
.ar_signIn_form_group.sbCenter span{
	text-align: center;
	color: #B8B8B8;
}
.ar_signIn_form_group.hover input[type="submit"]{
	width: 100%;
	border:none;
	outline: none;
	padding: 15px 15px;
	background-color: transparent;
	color: #347AE2;
	font-size: 14px;
	font-weight: 700;
	border: 1px solid #EAEAEA;
}
.ar_signIn_form_group.hover input[type="submit"]:hover{
	
	background-color: #347AE2;
	color: #fff;
	border: 1px solid transparent;
}
.ar_registerLogin_area_sectionSpan.ar_singin_area_section {
	padding-bottom: 240px;
}

/* otp css */
.ar_signin_form_area > p {
	color: #878787;
	padding: 20px 45px;
	text-align: center;
	line-height: 30px;
}
.ar_otp_area {
	text-align: center;
}



  .ar_otp_area form input {
	display: inline-block;
	width: 60px;
	height: 60px;
	text-align: center;
	border: none;
	background: #F6F6F6;
	box-shadow: inset 2px 2px 4px rgba(0, 0, 0, 0.12);
	border-radius: 10px;
	margin: 0px 5px;
	font-weight: 700;
	font-size: 14px;
	color: #000;
}
.ar_otp_submit{
	margin-top: 50px;
}
.ar_otp_submit input{
	width: 100%;
	border: none;
	outline: none;
	padding: 15px 15px;
	background-color: #347AE2;
	color: #FFFFFF;
	font-size: 14px;
	font-weight: 700;
	border-radius: 10px;
}
.ar_otp_area p{
	font-style: normal;
	font-weight: 700;
	font-size: 20px;
	line-height: 37px;
	text-align: center;
	color: #B8B8B8;
	padding-top: 15px;
}
/*
===================================================================
                    End Register Login CSS
===================================================================
*/








/*
===================================================================
                 Start Dashboard Area CSS
===================================================================
*/


.navigation {
  position: fixed;
  inset: 0px;
  width: 95px;
  background: #2267B4;
  border-left: 10px solid #2267B4;
  /* border-radius: 50px; */
  overflow: hidden;
  box-shadow: 15px 15px 25px rgba(0, 0, 0, 0.05);
  transition: 0.5s;
}

.navigation.active {
  width: 284px;
  /* border-radius: 20px; */
}

.toggle {
  position: absolute;
  right: 15px;
  bottom: 15px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: #fff;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.15);
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* .toggle::before {
  content: '';
  position: absolute;
  width: 25px;
  height: 3px;
  border-radius: 3px;
  background: #2267B4;
  transform: translateY(-5px);
  transition: 1s;
}

.toggle::after {
  content: '';
  position: absolute;
  width: 25px;
  height: 3px;
  border-radius: 3px;
  background: #2267B4;
  transform: translateY(5px);
  transition: 1s;
} */

.navigation.active .toggle::before {
  transform: translateY(0px) rotate(-405deg);
}

.navigation.active .toggle::after {
  transform: translateY(0px) rotate(225deg);
}

.navigation ul {
  /* position: absolute; */
  top: 0;
  left: 0;
  width: 100%;
}

.navigation ul li {
  position: relative;
  list-style: none;
  width: 100%;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
}

.navigation ul li:hover {
  background: #fff;
  color: #222;
}

/* .navigation ul li:nth-child(1) {
  top: 20px;
  margin-bottom: 40px;
  background: none;
} */

/* .navigation ul li:hover::before {
  content: '';
  position: absolute;
  top: -20px;
  right: 0;
  width: 20px;
  height: 20px;
  background: transparent;
  border-bottom-left-radius: 20px;
  box-shadow: 7.5px 7.5px 0 7.5px #fff;
}

.navigation ul li:hover::after {
  content: '';
  position: absolute;
  bottom: -20px;
  right: 0;
  width: 20px;
  height: 20px;
  background: transparent;
  border-top-left-radius: 20px;
  box-shadow: 7.5px -7.5px 0 7.5px #fff;
} */

.navigation ul li:hover::after {
	content: '';
	position: absolute;
	bottom: 50px;
	width: 20px;
	height: 20px;
	background: transparent;
	border-top-left-radius: 20px;
	box-shadow: 7.5px -7.5px 0 7.5px #fff;
	transform: rotate(91deg);
	left: -17px;
	right: inherit;
}
.navigation ul li:hover::before {
	content: '';
	position: absolute;
	top: 53px;
	right: 0;
	width: 20px;
	height: 20px;
	background: transparent;
	border-bottom-left-radius: 20px;
	box-shadow: 7.5px 7.5px 0 7.5px #fff;
	left: -20px;
	transform: rotate(-90deg);
	right: inherit;
}

.navigation ul li a {
  position: relative;
  display: flex;
  width: 100%;
  text-decoration: none;
  color: #fff;
}

.navigation ul li:hover a {
  color: #365fa1;
}

.navigation ul li a .icon {
  position: relative;
  display: block;
  min-width: 60px;
  height: 60px;
  /* line-height: 80px; */
  text-align: center;
}

.navigation ul li a .icon ion-icon {
  font-size: 1.75rem;
}

.navigation ul li a .title {
  position: relative;
  display: block;
  padding: 0 10px;
  height: 60px;
  /* line-height: 60px; */
  text-align: start;
  white-space: nowrap;
}
.ar_navigation_logo a img{
	width: 250px;
}
.navigation ul {
	top: 150px;
	padding-right: 25px;
	padding-top: 30px;
	margin-top: 20px;
	border-top: 1px solid #D9D9D933;
}
.ar_navigation_logo {
	display: flex;
	align-items: center;
	justify-content: center;
	margin-top: 60px;
}
.toggle {
	right: 85%;
	left: 0;
	top: 100px;
	z-index: 99999999;
	background: url('../images/sidearrow.png') no-repeat scroll 0 0 / cover;

}

.navigation {
	border-left: 0px solid #2267B4;
}
.navigation ul  li a{
	display: flex;
	align-items: center;
	line-height: 60px;
	font-family: 'Poppins';
	font-style: normal;
	font-weight: 600;
	font-size: 15px;
	text-align: right;
	color: #FFFFFF;
}
.navigation ul  li a .icon i{
	font-size: 20px;
}
.ar_sidebar_logout{
	margin-top: 150px;
	text-align: center;
}

.ar_sidebar_logout a{
	width: 230px;
	background-color: #fff;
	border-radius: 10px;
	padding: 10px 15px;
	font-family: 'Poppins';
	font-style: normal;
	font-weight: 600;
	font-size: 12px;
	line-height: 21px;
	color: #2267B4;

}












/* left-content */
.ar_dashboard_main_area_wrapper{
	display: flex;
	justify-content: space-between;
}
.ar_dashboard_main_content_area{
	flex: 0 0 85%;
}
.ar_dashboard_main_sidebar_area{
	flex: 0 0 15%;
}
.ar_content_header_area{
	padding: 20px 50px;
	background-color: #F8FAFF;
}

/* ar_information-header */
.ar_content_header_area{
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.ar_info_header_search input {
	background: #FFFFFF;
	border: 1px solid #E6EDFF;
	box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.02);
	border-radius: 12px;
	font-weight: 300;
	font-size: 11px;
	line-height: 150%;
	color: #989898;
	max-width: 445px;
	width: 100%;
	padding: 13px 15px;
	padding-left: 35px;
	outline: none;
}
.ar_info_header_search input::placeholder{
	font-family: 'Poppins', sans-serif;
	color: #989898;
	font-weight: 300;
	font-size: 12px;
	text-align: left;
	padding-left: 100px;
}
.ar_info_header_search{
	flex: 0 0 50%;
	text-align: left;
}
.ar_info_header_search{
	position: relative;
}
.ar_info_header_search a i {
	position: absolute;
	top: 17px;
	left: 15px;
	color: #000000;
	font-size: 18px;
}
.ar_profile_user p {
	display: inline-block;
	color: #FFFFFF;
	background-color: #FF5454;
	padding: 2px 5px;
	border-radius: 28px;
	font-family: 'Poppins', sans-serif;
	font-size: 10px;
	/* margin-top: 35px; */
	transform: translate(0px,-6px);
}
.ar_profile_user a{
	display: block;
	font-size: 16px;
	color: #000000;
	font-weight: 400;
	font-family: 'Poppins', sans-serif;
}
.ar_profile_user a img{
	width: 32px;
	margin-right: 5px;
}
.ar_profile_user a i{
	margin-left: 5px;
	color: #7C8DB5;
}

/* title-area */
.ar_content_title_area{
	padding: 15px 50px;
	border-bottom: 1px solid #E6EDFF;
	box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.02);
}
.ar_content_title_area h2{
	color: #2267B4;
	font-size: 28px;
	font-weight: 700;
}
/* main-content */
.ar_info_mainContent_area{
	padding: 50px 50px;
	background-color: #F8FAFF;
}

.ar_info_maincont_tab_area{
	display: flex;
	align-items: center;
	justify-content:flex-start;
}
.ar_info_maincont_tab a {
	color: #5F5F5F;
	font-size: 18px;
	font-weight: 400;
	padding: 15px 20px;
	background-color: #F4F4F4;
	padding-left: 130px;
	border: 1px solid #E6EDFF;
	border-top: 5px solid transparent;
}
.ar_info_maincont_tab a:hover{
	border-top: 5px solid #2267B4;
	background-color: #E6EDFF;
}
.ar_info_maincont_tab a img{
	width: 55px;
	margin-left: 20px;
}
.ar_info_maincont_tab:last-child a{
	border-radius: 10px 0px 0px 10px;
}
.ar_info_maincont_tab:first-child a{
	border-radius: 0px 10px 10px 0px;
}

/* form-area */

.ar_info_tab_form_wrapper h3{
	color: #5F5F5F;
	font-size: 24px;
	font-weight: 600;
	margin-top: 50px;
}
.ar_info_tab_form_area{
	display: flex;
	justify-content: space-between;
	column-gap: 30px;
	padding-top: 20px;
}
.ar_info_form_left,
.ar_info_form_right{
	padding: 20px;
	border: 1px solid #E6EDFF;
	border-radius: 10px;
	flex: 0 0 49%;
}

.ar_info_form_group input,
.ar_info_form_group textarea{
	box-sizing: border-box;
	border: 1px solid #EAEAEA;
	border-radius: 10px;
	width: 70%;
	padding: 15px 15px;
	background: transparent;
}
.ar_info_form_group input::placeholder,
.ar_info_form_group textarea::placeholder{
	font-family: 'Poppins';
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	line-height: 150%;
	text-align: right;
	color: #949494;
}
.ar_info_form_group input:focus,
.ar_info_form_group textarea:focus,
.ar_info_form_group .form-select:focus{
	outline: 1px solid #6184FF;
	box-shadow: none;
}
.ar_info_form_group label {
	color: #6184FF;
	font-size: 16px;
	font-weight: 700;
	display: block;
	transform: translate(-20px, 7px);
	display: inline-block;
	background-color: #F8FAFF;
}
.ar_info_form_group span{
	display: block;
	color: #F80101;
	font-size: 12px;
	font-weight: 400;
	padding-top: 5px;
}
.ar_info_form_group{
	margin-bottom: 20px;
}
.ar_info_form_group.img input{
	background: url('../images/formProfile.png');
    background-repeat: repeat;
	background-repeat: no-repeat;
	display: flex;
	justify-content: flex-end;
	background-position: 98% 50%;
	padding-right: 45px;
}
.ar_info_form_group.img.email input{
	background: url('../images/formEmail.png');
    background-repeat: repeat;
	background-repeat: no-repeat;
	display: flex;
	justify-content: flex-end;
	background-position: 98% 50%;
	padding-right: 45px;
}
.ar_info_form_group.img.number input{
	background: url('../images/login/Smartphone.png');
    background-repeat: repeat;
	background-repeat: no-repeat;
	display: flex;
	justify-content: flex-end;
	background-position: 98% 50%;
	padding-right: 45px;
}
.ar_info_form_group textarea{
	box-sizing: border-box;
	border: 1px solid #EAEAEA;
	border-radius: 10px;
	width: 70%;
	padding: 10px 15px;
	height: 120px;
}
.ar_info_form_group textarea::placeholder{
	font-size: 20px;
}
.ar_info_form_group select{
	box-sizing: border-box;
	border: 1px solid #EAEAEA;
	border-radius: 10px;
	width: 70%;
	padding: 15px 15px;
	color: #949494;
	/* background: transparent; */
}
.ar_info_form_group .form-select {
	background-image: url('../images/downArrow.png');
	background-repeat: no-repeat;
	background-position: 3%;
	background-color: #F8FAFF;
}
.ar_info_right_btn input {
	width: 130px;
	border-radius: 10px;
	background-color: #347AE2;
	border: none;
	color: #fff;
	font-weight: 700;
	font-size: 18px;
	padding: 13px 15px;
	text-align: center;
}
.ar_info_right_btn{
	text-align: left;
	margin-left: 100px;
	margin-top: 50px;
}


/* info two */
.infoTwo h2{
	font-family: 'Poppins';
	font-style: normal;
	font-weight: 600;
	font-size: 28px;
	text-align: right;
	color: #2267B4;
}
.infoTwo h3{
	font-family: 'Poppins';
	font-style: normal;
	font-weight: 600;
	font-size: 24px;
	text-align: right;
	color: #5F5F5F;
}
.infoTwo a{
	font-family: 'Poppins';
	font-style: normal;
	font-weight: 400;
	font-size: 18px;
	text-align: right;
	color: #5F5F5F;
}
.ar_infow_tow_span{
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 70%;
}
.infoTwo_group label{
	font-family: 'Poppins';
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	line-height: 16px;
	letter-spacing: 0.005em;
	color: #000000;
	transform: translate(-20px, 8px);
	display: inline-block;
	background-color: #F8FAFF;
}
.infoTwo_group input:focus .infoTwo_group label{
	color: #6184FF;
}
.infoTwo_group span{
	font-family: 'Poppins';
	font-style: normal;
	font-weight: 400;
	font-size: 12px;
	line-height: 21px;
	color: #949494;
	
}
.ar_infoTwo_btn{
	margin-top: 30px;
}
.ar_infoTwo_btn input {
	width: 130px;
	border-radius: 10px;
	background-color: #347AE2;
	border: none;
	color: #fff;
	font-weight: 700;
	font-size: 18px;
	padding: 15px 15px;
	text-align: center;
}


/* Qualification CSS */
.qualificSingle a{
	border-top: 5px solid #2267B4;
	/* background-color: #E6EDFF; */
}
.qualificSingle.active a{
	border-top: 5px solid #2267B4;
	background-color: #E6EDFF;
}

.arQualific span{
	color: #949494;
}
.ar_info_form_group.img.email.quali input {
	background: url('../images/formCertificate.png');
	background-repeat: repeat;
	background-repeat: no-repeat;
	display: flex;
	justify-content: flex-end;
	background-position: 98% 50%;
	padding-right: 45px;
}
.ar_info_form_group.img.number.quali input {
	background: url('../images/formWork.png');
	background-repeat: repeat;
	background-repeat: no-repeat;
	display: flex;
	justify-content: flex-end;
	background-position: 98% 50%;
	padding-right: 45px;
}


.qualiTwo.active a{
	border-top: 5px solid #2267B4;
	background-color: #E6EDFF;
}



/* files upload */

  .panel {
	margin: 100px auto 40px;
	max-width: 500px;
	text-align: center;
  }
  .button_outer {
	background: #83ccd3;
	border-radius: 30px;
	text-align: center;
	height: 50px;
	width: 200px;
	display: inline-block;
	transition: 0.2s;
	position: relative;
	overflow: hidden;
  }
  .btn_upload {
	padding: 17px 30px 12px;
	color: #fff;
	text-align: center;
	position: relative;
	display: inline-block;
	overflow: hidden;
	z-index: 3;
	white-space: nowrap;
	
  }
  .btn_upload input {
	position: absolute;
	width: 100%;
	left: 0;
	top: 0;
	width: 100%;
	height: 105%;
	cursor: pointer;
	opacity: 0;
  }
  .file_uploading {
	width: 100%;
	height: 10px;
	margin-top: 20px;
	background: #ccc;
  }
  .file_uploading .btn_upload {
	display: none;
  }
  .processing_bar {
	position: absolute;
	left: 0;
	top: 0;
	width: 0;
	height: 100%;
	border-radius: 30px;
	background: #83ccd3;
	transition: 3s;
  }
  .file_uploading .processing_bar {
	width: 100%;
  }
  .success_box {
	display: none;
	width: 50px;
	height: 50px;
	position: relative;
  }
  .success_box:before {
	content: "";
	display: block;
	width: 9px;
	height: 18px;
	border-bottom: 6px solid #fff;
	border-right: 6px solid #fff;
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
	position: absolute;
	left: 17px;
	top: 10px;
  }
  .file_uploaded .success_box {
	display: inline-block;
  }
  .file_uploaded {
	margin-top: 0;
	width: 50px;
	background: #83ccd3;
	height: 50px;
  }
  .uploaded_file_view {
	max-width: 300px;
	margin: 40px auto;
	text-align: center;
	position: relative;
	transition: 0.2s;
	opacity: 0;
	border: 2px solid #ddd;
	padding: 15px;
  }
  .file_remove {
	width: 30px;
	height: 30px;
	border-radius: 50%;
	display: block;
	position: absolute;
	background: #aaa;
	line-height: 30px;
	color: #fff;
	font-size: 12px;
	cursor: pointer;
	right: -15px;
	top: -15px;
  }
  .file_remove:hover {
	background: #222;
	transition: 0.2s;
  }
  .uploaded_file_view img {
	max-width: 100%;
  }
  .uploaded_file_view.show {
	opacity: 1;
  }
  .error_msg {
	text-align: center;
	color: #f00;
  }
  

.ar_qualifiction_fileUpload{
	width: 70%;
	background-color: transparent;
	border: 1px dashed #D9D5D5;
	border-radius: 5px;
	margin-top: 15px;
}
.button_outer {
	background: transparent;
	height: 110px;
}
.panel {
	margin: 50px auto 10px;
}
.uploaded_file_view {
	margin: 10px auto;
}
.btn_upload img{
	width: 40px;
}
.btn_upload p{
	color: #000000;
	font-size: 10px;
	font-weight: 300;
	background-color: #E6EEFF;
	border-radius: 5px;
	padding: 5px 10px;
}
.ar_qualification_files_upload_area{
	margin-top: 30px;
}
.ar_qualification_files_upload_area > p{
	font-family: 'Poppins';
	font-style: normal;
	font-weight: 500;
	font-size: 18px;
	line-height: 16px;
	text-align: right;
	letter-spacing: 0.005em;
	color: #000000;
}
.ar_qualification_files_upload_area span{
	font-family: 'Cairo';
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 21px;
	padding-top: 10px;	
	color: #949494;
}
.ar_cont_mint p{
	font-family: 'Poppins';
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	line-height: 16px;
	letter-spacing: 0.005em;
	color: #000000;
}
.ar_qualificton_deletWright_area{
	background-color: #E6EEFF;
	padding: 10px 20px;
	width: 70%;
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-top: 20px;
}
/*
===================================================================
                    End Dashboard Area CSS
===================================================================
*/